.imgWidth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  }
  .backgroundImage {
    filter: brightness(40%);
  }  
  .centered {
    top: 50%;
    position: relative;
  } 