.wrapper {
    background: #f4f6f8;
    padding: 50px;
    margin: 50px 0px 50px;
    border-radius: 20px;
}
.text {
    color: #00719c;
}
.btnStyle {
    background-color: #00719c;
    color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    margin-top: 10px;
}
.contactText {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    background-color: #00719c;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.contactForm input  {
    width: 100%;
    height: 50px;
    border: 1px solid #00719c ;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}
.contactForm textarea {
    width: 100%;
    border: 1px solid #00719c ;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}
.contactForm placeholder {
    color: #00719c;
}
.imgWidth {
    position: relative;
    height: 400px;
    z-index: 1;
  }
.backgroundImage {
    filter: brightness(40%);
}    
.centered {
    position: relative;
    padding: 0 100px;
} 
.centered h2 {
    font-size: 50px;
  }
  .centered p {
    font-size: 25px;
  } 

.contactSuccess {
    color: green;
}

.contactError {
    color: red;
}
.divider {
    padding: 20px 0 20px 0;
  }
  .dividerSeprator {
    border-top: 2px solid #f77f00; /* This creates the line */
    width: 40px; /* Full width of the container */
    position: relative;
    margin: 0 100px;
    margin-top: 80px;
  }