.wrapper {
    border: 2px solid#00719c;
    border-radius: 20px;
}
.top {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.carousel {
    display: flex;
    gap: 1rem;
    animation: scrollAnimation 20s linear infinite;
    margin-top: 100px;
}
.carousel a {
    text-decoration: none;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.divider {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.divider span {
    font-size: 20px;
    color: #f77f00;
}
.dividerSeprator {
    border-top: 2px solid #f77f00; /* This creates the line */
    width: 40px; /* Full width of the container */
}