.imgWidth {
    position: relative !important;
    border-radius: 20px;
}
.imgIndustry {
    position: relative !important;
    border-radius: 20px;
    height: 400px;
}
.imgStaff {
    position: relative !important;
    border-radius: 20px;
}
.textHeading h2 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 900;
}
.textHeading {
    text-align: left;
    padding: 0 0 0 40px;
    font-size: 14px;
    font-weight: 600;
}
.heroButton a {
    background: linear-gradient(90deg, #c36, #f77f00);
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.heroButton a:hover {
    background: linear-gradient(90deg, #f77f00, #c36);
    border: none;
}
.ceotext {
    color: #000 !important;
}
.divider {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.divider span {
    font-size: 20px;
    font-weight: normal;
    color: #f77f00;
}
.dividerSeprator {
    border-top: 2px solid #f77f00; /* This creates the line */
    width: 40px; /* Full width of the container */
}
