.hero {
    margin-bottom: 100px;
}
.herotext h1 {
    color: #00719c;
    font-size: 4rem;
}
.herotext p {
    color: #009bd6;
    font-size: 20px;
}
.heroButton {
    background-color: #00719c;
    color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    text-decoration: none;
}
.textHeading {
    text-align: center;
}
.textHeading h2 {
    color: #00719c;
    font-size: 2.5rem;
}