.bg {
    background-color: #00415a;
}
.navIcons a {
    color: #fff;
}
.dropBg div {
    background-color: #00415a; 
}
.imgWidth {
    border-radius: 50%;
}
.alignment {
    justify-content: flex-end;
}